<!-- NAVBAR -->
<div ng-controller="NavController">
    <nav class="navbar navbar-default" ng-if="logged_status">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth" ng-click="toggle_click()"><i
                        class="lnr lnr-arrow-left-circle"></i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-menu">
                    <i class="lnr lnr-alarm"></i>
                </button>
            </div>
        </div>
    </nav>
</div>
<!-- END NAVBAR -->