<div ng-controller="FineSheetController" ng-init="__init__()">
    <br>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Driver`s Fines</b></h3>
        </div>
    </div>
    <ul style="list-style: none;padding-left: 0px">
        <li ng-repeat="fine in fines" style="margin-bottom: 5px;">
            <div class="panel" style="padding: 10px">
                <label style="font-size: 16px;font-weight: bold;text-decoration: underline">Fine {{ $index +1 }}</label>
                <br>
                <label><span style="color: blue">Vehicle No :</span> {{ fine.vehicle_no}}</label>
                <br>
                <label><span style="color: blue">Date of Offence :</span> {{ fine.date_of_offence | date :
                    'yyyy-MM-dd'}}</label>
                <br>
                <label><span style="color: blue">Time :</span> {{ fine.time | date : 'h:mma'}}</label>
                <br>
                <label><span style="color: blue">Location :</span> {{ fine.location }}</label>
                <br>
                <label><span style="color: blue">Police Station :</span> {{ fine.police_station }}</label>
                <br>
                <button type="button" class="btn btn-primary btn-block" ng-click="showPay(fine)">Pay</button>
            </div>
        </li>
    </ul>

    <!-- Modal -->
    <div class="modal" ng-class="show ? 'show' : 'hide'" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closePay()" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pay Options</h4>
                </div>
                <div class="modal-body">
                    <ul class="notifications" style="list-style: none;padding-left: 0px;">
                        <li>
                            <label class="fancy-radio">
                                <input name="gender" value="male" type="radio">
                                <span><i></i><img src="assets/images/visa.png" width="50px" style="margin-left: 25px;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="fancy-radio">
                                <input name="gender" value="male" type="radio">
                                <span><i></i><img src="assets/images/mastercad.jpg" width="50px" style="margin-left: 25px;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="fancy-radio">
                                <input name="gender" value="male" type="radio">
                                <span><i></i><img src="assets/images/ez_cash.png" width="50px" style="margin-left: 25px;"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="pay()">Pay</button>
                    <button type="button" class="btn btn-default" ng-click="closePay()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>