<div ng-controller="FineSheetController" ng-init="__init__()">
    <br>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Driver`s Fines</b></h3>
        </div>
    </div>
    <ul style="list-style: none;padding-left: 0px">
        <li ng-repeat="fine in fines" style="margin-bottom: 5px;">
            <div class="panel" style="padding: 10px">
                <label style="font-size: 16px;font-weight: bold;text-decoration: underline">Fine {{ $index +1 }}</label>
                <br>
                <label><span style="color: blue">Vehicle No :</span> {{ fine.vehicle_no}}</label>
                <br>
                <label><span style="color: blue">Date of Offence :</span> {{ fine.date_of_offence | date :
                    'yyyy-MM-dd'}}</label>
                <br>
                <label><span style="color: blue">Time :</span> {{ fine.time | date : 'h:mma'}}</label>
                <br>
                <label><span style="color: blue">Location :</span> {{ fine.location }}</label>
                <br>
                <label><span style="color: blue">Police Station :</span> {{ fine.police_station }}</label>
                <br>
                <button type="button" class="btn btn-primary btn-block">Pay</button>
            </div>
        </li>
    </ul>

</div>