<div class="main-content" ng-controller="DashboardController" ng-init="__init__()">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Profile Overview</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="fa fa-download"></i></span>
                            <p>
                                <span class="number">{{ stats.revenue}}</span>
                                <span class="title">Revenue</span>
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-md-3">-->
                    <!--<div class="metric">-->
                    <!--<span class="icon"><i class="fa fa-shopping-bag"></i></span>-->
                    <!--<p>-->
                    <!--<span class="number">203</span>-->
                    <!--<span class="title">Fines</span>-->
                    <!--</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                            <p>
                                <span class="number">{{ stats.fine_count}}</span>
                                <span class="title">Fines</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OVERVIEW -->
        <div class="row">
            <div class="col-md-6">
                <!-- RECENT PURCHASES -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent Activities</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vehi. No</th>
                                <th>Location</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in fines">
                                <td>{{row.valid_from | date:'yyyy-MM-dd' }}</td>
                                <td>{{row.vehicle_no}}</td>
                                <td>{{row.location}}</td>
                                <td>{{rules[row.fine_rule_id]*150}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="panel-footer">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6"><span class="panel-note"><i-->
                                    <!--class="fa fa-clock-o"></i> Last 24 hours</span></div>-->
                            <!--<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <!-- END RECENT PURCHASES -->
            </div>
        </div>
    </div>
</div>